@import 'shared.scss';

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // desktop

  @media only screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}

.material-card {
  font-family: $font-family;
  padding: $default-padding;
  margin: 0 $default-margin $default-margin 0;
  border-radius: $border-radius;
  background: #fff;
  box-shadow: 0 1px 3px $box-shadow-color-1, 0 1px 2px  $box-shadow-color-2;

  img {
    background: $background-color;
  }

  tr {
    font-size: 14px;
  }

  tr td:first-child {
    font-weight: bold;
  }
}

.mission-name {
  font-weight: bold;
}