@import './common.scss';
@import './shared.scss';

.content-container-home {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  @media only screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    & > div:last-child > div {
      margin-left: $default-margin;
    }
  }
}

.container-home {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: $header-height;
}

.header {
  margin-left: 2rem;
}

.footer {
  @extend .flex-center;
  position: fixed;
  left: 0;
  top: calc(100vh - #{$header-height});
  height: $header-height;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}