$background-color: #f1f6f9;
$box-shadow-color-1: rgba(0,0,0,0.12);
$box-shadow-color-2: rgba(0,0,0,0.24);
$font-family:        "Roboto",sans-serif;

$default-padding:    1rem;
$default-margin:     1rem;
$border-radius:      1rem;

$breakpoint-mobile:  700px;
$breakpoint-tablet:  1024px;
$breakpoint-desktop: 1440px;

$header-height: 72px;